<div class="flex flex-col md:flex-row justify-end md:justify-center items-center h-48 md:h-8 lg:h-8 pb-8 md:pb-0 gap-4 bg-verde gap-2 md:gap-16 lg:gap-32 text-blanco text-xs md:text-base">
    <img src="/aguadoSoluciones/img/logo.png" alt="logo" class="md:hidden w-12 h-12 object-cover ">
    <a href="/aguadoSoluciones/avisolegal" class="block">Aviso legal</a>
    <h2>© 2025</h2>
    <a href="/aguadoSoluciones/privacidad" class="block">Política de privacidad</a>
</div>
<div class="flex flex-col md:flex-row justify-center items-center h-36 md:h-8 gap-4 bg-black gap-2 md:gap-16 lg:gap-32 text-blanco text-xs md:text-base">
    <div class="flex flex-row items-center gap-1 md:gap-4">
        <img src="/aguadoSoluciones/img/ubicacion.webp" alt="ubicacion" class="w-4 h-4 object-cover ">
        <h2 class="">Sevilla</h2>
    </div>
    <div class="flex flex-row items-center gap-1 md:gap-2">
        <img src="/aguadoSoluciones/img/gmail.png" alt="mail" class="w-4 h-4 object-cover ">
        <h2 class="">sebastian.aguado@vedruna.es</h2>
    </div>
    <div class="flex flex-row items-center gap-1 md:gap-2">
        <img src="/aguadoSoluciones/img/telefono.png" alt="telefono" class="w-4 h-4 object-cover ">
        <h2 class="">665899612</h2>
    </div>
</div>