<div>
    <h2>Aviso legal</h2>
    <h2>© 2025</h2>
    <h2>Política de privacidad</h2>
</div>
<div>
    <div>
        <img src="ubicacion.webp" alt="ubicacion" class="w-4 h-4 object-cover ">
        <h2>Sevilla</h2>
    </div>
    <div>
        <img src="telefono.png" alt="telefono" class="w-4 h-4 object-cover ">
        <h2>665899612</h2>
    </div>
    <div>
        <img src="gmail.png" alt="mail" class="w-4 h-4 object-cover ">
        <h2>sebastian.aguado@vedruna.es</h2>
    </div>
</div>